.App {
  text-align: center;
}

.navbar {
  background-color:cadetblue;
  padding: 10px;
  text-align: right;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

a {
  margin-right: 15px;
}

.login-form {
  width: 15%;
  margin:auto;
}

.form-group {
  text-align: left;
}

input {
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.login-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #1a1a1a;
  border-style: groove;
  border-radius: 1em;
}

.column {
  flex: 1;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .login-status {
        flex-direction: column; /* Stack columns on smaller screens */
    }
}

.buttons {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color:whitesmoke;
  background-color: blue;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.login {
  text-align: center;
}

.profile {
  text-align: center;
}

.dialog {
  width: 20%;
  height: 30%;
  margin: auto auto;
  position: fixed;
  inset: 0;               /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(205, 42, 42, 0.2);
  text-align: center;
  border-width: 3px;
  border-style: groove;
  border-radius: 5em;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 2000;
}

.new-note {
  width: 20em;
  margin-left: 7px;
  z-index: 0;
}

#notes {
  display: inline-block;
  z-index: 0;
  filter:blur(0px);
}

.delete {
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

.edit-text {
  width: fit-content;
}